* {
    box-sizing: border-box;
}

body {
	background-color: grey;
	margin: 0;
	padding: 0;
}

#wrapper {
		max-width: 1000px;
		margin: auto;
		padding: auto;
}

#main-menu img {
	max-width: 100%;
}
#main-menu {
	background-color: white;
	padding-bottom: 20px;
}
#main-menu a {
	padding: 13px;
	margin: 55px;
	color: red;
}

#main-content {
	background-color: yellow;
}

#main-content img {
	float: left;
	border: 1px solid blue;
	margin: 20px 100px 20px 120px;
	padding: 20px;
}

#main-content img:hover {
	border: 1px dashed red;
	background: white;
}


#footer {
	clear: both;
	margin: 40;
	background-color: white;
}

#footer. p {
	padding: 30px;
}

.foot {
	padding: 10px;
	text-align: center;
	color: red;
}